<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="/main.css" rel="stylesheet" type="text/css">
    <title>Seminarräume</title>
</head>

<body>
<h2>Seminarräume</h2>

<h3>New</h3>
<div>
    <form action="#"
          enctype="multipart/form-data"
          method="POST"
          th:action="@{'/ui/seminarraeume'}"
          th:object="${Seminarraum}">
        <div>
            <label>name</label>
            <input id="Name" placeholder="Enter Name" th:field="*{name}" type="text"/>
        </div>
        <div>
            <label>Raumnummer</label>
            <input id="RoomNumber" th:field="*{raumnummer}" type="text"/>
        </div>
        <div>
            <label>Kapazität</label>
            <input id="Kapazitaet" th:field="*{kapazitaet}" type="number"/>
        </div>
        <div>
            <label>Raumfläche</label>
            <input id="Flaeche" th:field="*{flaeche}" type="float"/>
        </div>
        <div>
            <label>Raumhöhe</label>
            <input id="Hoehe" th:field="*{hoehe}" type="float"/>
        </div>

        <input class="btn" type="submit" value="save" width="60"/>
    </form>
</div>

<h3>List</h3>
<table>
    <thead>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Raumnummer</td>
        <td>Kapazität</td>
        <td>Höhe</td>
        <td>Fläche</td>
    </tr>
    </thead>

    <tbody>
    <tr th:each="s: ${seminarraeume}" th:value="${s}">
        <td>
            <span th:text="${s.id}"></span>
        </td>
        <td>
            <a th:href="@{'/ui/seminarraeume/' + ${s.id}}">
                <span th:text="${s.name}"></span>
            </a>
        </td>
        <td>
            <span th:text="${s.raumnummer}"></span>
        </td>
        <td>
            <span th:text="${s.kapazitaet}"></span>
        </td>
        <td>
            <span th:text="${s.hoehe}"></span>
        </td>
        <td>
            <span th:text="${s.flaeche}"></span>
        </td>
        <td>
            <form action="#"
                  enctype="multipart/form-data"
                  th:action="@{'/ui/seminarraeume/'+ ${s.id}}"
                  th:method="DELETE">
                <input class="btn" type="submit" value="Delete" width="60"/>
            </form>
        </td>
    </tr>
    </tbody>


</table>
</body>