<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="/main.css" rel="stylesheet" type="text/css">
    <title>Studierenden</title>
</head>

<body>
<h2>Studierenden</h2>

<div th:each="s: ${studierende}" th:value="${s}">
    <div>
        <label>Matrikelnummer</label>
        <span th:text="${s.id}"></span>
    </div>
    <div>
        <label>Name</label>
        <span th:text="${s.name}"></span>
    </div>
    <div>
        <label>Vorame</label>
        <span th:text="${s.vorname}"></span>
    </div>
    <div>
        <label>Geburtsdatum</label>
        <span th:text="${s.geburtsdatum}"></span>
    </div>
    <div>
        <label>Geburtsort</label>
        <span th:text="${s.geburtsort}"></span>
    </div>
    <div>
        <label>Anzahl Semester</label>
        <span th:text="${s.anzahl_semester}"></span>
    </div>
    <div>
        <label>Studienbeginn</label>
        <span th:text="${s.studienbeginn}"></span>
    </div>

</div>
</body>